.user {
    display: flex;
    justify-content: space-between;
}
.user__info {
    max-width: 350px;
    margin: 0 15px;
}
.user__name {
    margin-bottom: 15px;
}
.user__orders {
    width: 550px;
}
.user__empty {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    margin-top: 30px;
}
.user__orders-header {
    margin-bottom: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}
.user__table-body-row {
    cursor: pointer;
}
.user__table-body-row:hover:nth-child(odd) {
    box-shadow: 0px 0px 3px 1px rgba(137, 43, 226, 0.301);
}
.user__table-body-row:hover:nth-child(even) {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.301);
}
tr:nth-child(even) {
    background-color: rgba(137, 43, 226, 0.267);
}
th,
td {
    padding: 10px 30px;
    font-size: 18px;
    border-right: none;
    border-left: none;
}
.user__sum {
    font-weight: 700;
    color: blueviolet;
}
.user__table-header-row {
    background-color: blueviolet;
    color: #fff;
}
.user__table-order-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.user__table-order-link:hover {
    color: blueviolet;
    font-weight: 700;
}
@media (max-width: 1200px) {
    th,
    td {
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    th,
    td {
        padding: 10px 10px;
    }
}
@media (max-width: 1000px) {
    .user__orders {
        width: 400px;
        margin-bottom: 15px;
    }
}
@media (max-width: 800px) {
    .user {
        flex-direction: column;
    }
    .user__orders {
        margin-top: 15px;
    }
    /* .user__name {
        font-size: 18px;
    }
    .user__id {
        font-size: 14px;
    }
    .user__orders-header {
        font-size: 18px;
    } */
}
@media (max-width: 435px) {
    th,
    td {
        padding: 10px 5px;
        font-size: 12px;
    }
    .user__orders {
        width: 350px;
    }
}
@media (max-width: 360px) {
    .user__name {
        font-size: 18px;
    }
    .user__id {
        font-size: 14px;
    }
    .user__orders-header {
        font-size: 18px;
    }
    th,
    td {
        padding: 5px 2px;
        font-size: 11px;
    }
    .user__orders {
        width: 315px;
    }
}
