.price{
    margin: 15px 0;
    height: 50px;
}
.price__old-price{
    text-decoration: line-through;
    color: #6C757D;
    font-size: 18px;
}
.price__discount-price, .price__standard-price{
    font-weight: 700;
    font-size: 24px;
    color: blueviolet;
} 
