.card {
    width: 250px;
    height: 320px;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: #000;
    font-size: 18px;
    animation: show 400ms linear forwards;
}
@keyframes show {
    from {
        /* transform: scale(0); */
        opacity: 0;
    }
    to {
        /* transform: scale(1); */
        opacity: 1;
    }
}
.card:hover {
    box-shadow: 0px 8px 16px rgba(55, 2, 126, 0.26);
    border-radius: 4px;
}
.card__title {
    margin-top: 15px;
}
