.navigation__items{
    display: flex;
    list-style-type: none;
}
.navigation__item{
    margin: 0 0 0 35px;
    font-weight: 700;
}
.active{
    text-decoration: none;
    color: #ffffff;
}
.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}
a:hover {
    color: #ffffff
}
