.search {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__form {
    display: flex;
    align-items: center;
}
.search__input {
    border: none;
    border-bottom: white 1px solid;
    background-color: blueviolet;
    border-bottom: rgb(118, 5, 224) 1px solid;
    width: 450px;
    height: 25px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #ffff;
}
.search__input:focus {
    border: none;
    outline: none;
    border-bottom: white 1px solid;
}
.search__btn {
    width: 100px;
    height: 35px;
    outline: none;
    margin: 0 0 0 15px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 2, 136);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

.search__cart-link {
    cursor: pointer;
    margin-left: 30px;
}
.search__cart-link-img {
    height: 40px;
    width: 40px;
}
@media (max-width: 975px) {
    .search__input {
        width: 350px;
    }
    .search__cart-link-img {
        height: 35px;
        width: 35px;
    }
}
@media (max-width: 760px) {
    .search {
        margin-top: 30px;
    }
    .search__input {
        width: 300px;
    }
}
@media (max-width: 715px) {
    .search__input {
        width: 250px;
    }
    .search__cart-link-img {
        height: 30px;
        width: 30px;
    }
    .search {
        position: absolute;
        top: 35px;
        left: 20px;
        margin: 0;
    }
}
@media (max-width: 540px) {
    .search__btn {
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
    .search__input {
        width: 150px;
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    .search__cart-link {
        margin-left: 10px;
    }
}
@media (max-width: 390px) {
    .search {
        top: 40px;
    }
}
