.product__image {
    max-width: 650px;
    display: block;
    margin: 0 auto;
}
.product__placeholder {
    max-width: 650px;
    height: 250px;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px;
}
@keyframes placeholderAnimate {
    0% {
        background-position: -650px 0;
    }
    100% {
        background-position: 650px 0;
    }
}
@media (max-width: 660px) {
    .product__image {
        width: 450px;
        height: auto !important;
    }
}
@media (max-width: 460px) {
    .product__image {
        width: 300px;
        height: auto !important;
    }
}
@media (max-width: 360px) {
    .product__image {
        width: 250px;
        height: auto !important;
    }
}
